*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  background: var(--main-color);
  font-family: Segoe UI, sans-serif;
  min-height: 100vh;
  position: relative;
}

:root {
  --main-color: #0D0020;
  --yellow: #ffb800;
  --green: #00E23F;
  --pink: #b8aadc;
  --purple: #6c35d4;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.w-100 {
  width: 100%;
}

.container {
  max-width: 1337px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 16px 10px 16px;
}

.overflow {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: none;
}

.overflow._active {
  display: block;
}

.page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .page__container {
    padding: 0;
  }
  .banners__wrapper {
    padding: 0 16px;
  }
  .main__wrapper {
    gap: 10px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: Segoe UI;
  src: url("../assets/fonts/Segoe UI.ttf");
}

@font-face {
  font-family: SatoshiBlack;
  src: url("../assets/fonts/Satoshi-Black.ttf");
}

@font-face {
  font-family: SatoshiLight;
  src: url("../assets/fonts/Satoshi-Light.ttf");
}

@font-face {
  font-family: Syncopate;
  src: url("../assets/fonts/Syncopate-Regular.ttf");
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 16px;
  padding-left: 0px;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  gap: 20px;
}

.header__logo {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header .logo__text {
  font-family: Segoe UI;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #009adc;
}

.header__description p {
  font-family: Segoe UI, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--yellow);
  white-space: nowrap;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  gap: 10px;
}

.header__search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 150px;
  max-width: 512px;
  position: relative;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.header__btn {
  background: #0a0018;
  border: 1px solid rgba(255, 184, 0, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: 67px;
  height: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.header__btn:first-child .btn__icon {
  width: 25px;
  height: 25px;
}

.header__btn:hover {
  background: #262720;
}

.search__input {
  width: 100%;
  background: #0a0018;
  border: 1px solid rgba(255, 184, 0, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 17.5px 30px;
  outline: none;
  color: var(--yellow);
}

.search__input:focus {
  border-color: var(--yellow);
}

.search__input::-webkit-input-placeholder {
  font-family: SatoshiLight;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.search__input:-ms-input-placeholder {
  font-family: SatoshiLight;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.search__input::-ms-input-placeholder {
  font-family: SatoshiLight;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.search__input::placeholder {
  font-family: SatoshiLight;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.search__icon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.btn__icon svg {
  height: 100%;
}

.btn__changer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.changer__text {
  color: var(--yellow);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}

.changer__triger {
  position: absolute;
  top: -5px;
  right: -10px;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .menu__icon {
    position: relative;
    cursor: pointer;
    width: 16px;
    height: 15px;
  }
  .menu__icon span, .menu__icon:before, .menu__icon:after {
    left: 0;
    position: absolute;
    height: 20%;
    width: 100%;
    background-color: #fff;
  }
  .menu__icon:before, .menu__icon:after {
    content: "";
  }
  .menu__icon:before {
    top: 0;
  }
  .menu__icon:after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header__btns {
    margin-left: auto;
  }
  .header__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px 14px;
  }
  .header__info {
    padding-top: 5px;
  }
}

@media screen and (max-width: 576px) {
  .header__description p {
    font-size: 13px;
    line-height: 13.3px;
  }
  .header__logo {
    height: 27px;
    gap: 10px;
  }
  .header__logo img {
    height: 100%;
  }
  .header__logo p.logo__text {
    font-size: 11px;
    line-height: 13.3px;
  }
  .header__search input {
    font-size: 10px;
    line-height: 13.3px;
    padding: 12px 14px;
    border-radius: 5px;
  }
  .header__search input::-webkit-input-placeholder {
    font-size: 10px;
    line-height: 13.3px;
  }
  .header__search input:-ms-input-placeholder {
    font-size: 10px;
    line-height: 13.3px;
  }
  .header__search input::-ms-input-placeholder {
    font-size: 10px;
    line-height: 13.3px;
  }
  .header__search input::placeholder {
    font-size: 10px;
    line-height: 13.3px;
  }
  .header__search .search__icon {
    width: 10px;
    height: 10px;
    top: 7px;
    right: 12px;
  }
  .header__search .search__icon svg {
    width: 10px;
    height: 10px;
  }
  .header__btn {
    width: 35px;
    height: 35px;
    border-radius: 5px;
  }
  .header__btn .btn__icon {
    width: 19px;
    height: 19px;
  }
  .header__btn .btn__icon svg {
    width: 19px;
    height: 19px;
  }
  .header__btn:first-child .btn__icon {
    width: 14px;
    height: 14px;
  }
  .header__btn:first-child .btn__icon svg {
    width: 14px;
    height: 14px;
  }
  .header__btn .changer__text {
    font-size: 8px;
    line-height: 10.64px;
  }
  .header__btn .changer__triger {
    position: absolute;
    top: -10px;
    right: -6px;
    cursor: pointer;
  }
  .header__btn .changer__triger svg {
    width: 4px;
    height: 3px;
  }
}

.page__menu {
  width: 227px;
  padding-right: 25px;
}

.menu__navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}

.menu__header {
  display: none;
}

.menu__close {
  position: relative;
  cursor: pointer;
  width: 14px;
  height: 14px;
  top: 8px;
}

.menu__close:before, .menu__close:after {
  right: 0;
  position: absolute;
  height: 8%;
  width: 100%;
  background-color: #fff;
}

.menu__close:before, .menu__close:after {
  content: "";
}

.menu__close:before {
  top: 0;
}

.menu__close:after {
  bottom: 0;
}

.menu__close:before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}

.menu__close:after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}

.menu__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.menu__price-logo {
  width: 43px;
  height: 43px;
}

.menu__price-amount {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  color: var(--green);
}

.menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.menu .navigation {
  margin-bottom: 65px;
}

.menu .navigation-item {
  margin-bottom: 30px;
  position: relative;
}

.menu .navigation-item._active {
  margin-top: 45px;
  margin-bottom: 45px;
}

.menu .navigation-item._active a {
  margin-left: 25px;
  color: #fff;
}

.menu .navigation-item._active::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 10px;
  height: 17px;
  background: var(--yellow);
}

.menu .navigation-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}

.menu .navigation-link:hover {
  color: #fff;
}

.menu__banner {
  width: 202px;
  height: 160px;
}

.menu__banner-wrapper {
  border: 1px solid var(--yellow);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  background: #ccc;
  width: 202px;
  height: 160px;
}

@media screen and (max-width: 991px) {
  .menu {
    position: fixed;
    top: 0;
    left: -160px;
    bottom: 0;
    background-color: #0A0018;
    padding: 20px 16px;
    overflow-y: auto;
    width: 160px;
    z-index: 3;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }
  .menu._active {
    left: 0;
  }
  .menu__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu .navigation-link {
    font-size: 14px;
    line-height: 18.62px;
  }
  .menu .navigation-item {
    margin-bottom: 25px;
  }
  .menu .navigation-item._active {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .menu__price-amount {
    font-size: 14px;
    line-height: 18.62px;
  }
  .menu__price {
    gap: 10px;
    margin-bottom: 25px;
  }
  .menu__price-logo {
    width: 29px;
    height: 29px;
  }
  .menu .navigation {
    margin-bottom: 35px;
  }
  .menu__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    height: 31px;
    margin-bottom: 20px;
  }
  .menu__logo img {
    width: 31px;
  }
  .menu .logo__text {
    font-family: Segoe UI;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    color: #009adc;
  }
  .menu__social {
    gap: 10px;
  }
  .menu .social-link {
    width: 20px;
    height: 20px;
  }
  .menu .social-link svg {
    width: 20px;
    height: 20px;
  }
  .menu__banner {
    display: none;
  }
}

.content__banners {
  margin-bottom: 30px;
}

.banners__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.banners__wrapper:first-child {
  margin-bottom: 15px;
}

.banners__wrapper:first-child .banner-wrapper {
  max-width: 1094px;
  width: 100%;
  height: 162px;
}

.banners__slider-wrapper {
  position: relative;
  height: 130px;
  width: 100%;
}

.banners__slider {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.banner-wrapper {
  max-width: 258px;
  height: 130px;
  background: #ccc;
  border: 1px solid #FFB800;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  margin: 0 auto;
}

.banner-wrapper img {
  width: 100%;
  height: 100%;
}

.mobile__menu-banner {
  width: 133px;
  height: 105.4px;
  display: none;
}

@media screen and (max-width: 991px) {
  .mobile__menu-banner {
    display: block;
  }
  .mobile__menu-banner-wrapper {
    width: 100%;
    height: 100%;
  }
  .content__banners {
    margin-bottom: 20px;
  }
  .banners__wrapper {
    gap: 5px;
  }
  .banners__wrapper:first-child {
    margin-bottom: 10px;
  }
  .banners__wrapper:first-child .banner-wrapper {
    height: 71px;
  }
  .banners__slider-wrapper {
    height: 83px;
  }
  .banner-wrapper {
    border-radius: 5px;
    max-width: 150px;
    height: 83px;
  }
}

@media screen and (max-width: 576px) {
  .banners__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .banner-wrapper {
    max-width: 141px;
    height: 77px;
  }
}

.content__desk {
  background: #0A0018;
  -webkit-box-shadow: 10px 20px 62px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 20px 62px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  width: 100%;
}

.desk__wrapper {
  padding: 25px 31px;
}

.desk__title p {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--yellow);
}

.desk__selector {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 271px;
  height: 36px;
}

.desk__selector::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 386px;
  height: 2px;
  background: linear-gradient(90.05deg, rgba(255, 255, 255, 0.3) 49.96%, rgba(255, 255, 255, 0) 87.09%);
}

.desk .selector__item p {
  cursor: pointer;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #828282;
  padding-bottom: 10px;
}

.desk .selector__item._active p {
  color: var(--yellow);
  border-bottom: 2px solid var(--yellow);
}

.desk .selector__item:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .desk__selector {
    width: 100%;
  }
  .desk__selector::after {
    width: 100%;
    min-width: 330px;
  }
  .content__desk {
    border-radius: 10px;
    padding-bottom: 20px;
  }
}

.footer__mobile {
  display: none;
}

.footer__text p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF80;
}

@media screen and (max-width: 576px) {
  .footer__mobile {
    display: block;
  }
  .footer__desktop {
    display: none;
  }
}

.dataTables_length {
  display: none;
}

#promotedTokens_filter,
#defaultTokens_filter {
  display: none;
}

#defaultTokens {
  margin-bottom: 20px;
}

.desk__title,
.desk__selector {
  margin-bottom: 20px;
}

.dataTables_info {
  display: none;
}

.table__voteBtn-wrapper {
  border-radius: 10px !important;
  padding: 5px 0;
  border: 1px solid #009ADC !important;
  cursor: pointer;
}

.table__voteBtn-wrapper:hover {
  background: #009ADC;
}

.table__name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  gap: 10px;
}

.table__votes-wrapper {
  background: #009ADC;
  border-radius: 10px;
  width: 80px;
  padding: 5px 5px;
  margin: 0 auto;
}

.desk__table-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(#0A0018), to(rgba(10, 0, 24, 0)));
  background: linear-gradient(180deg, #0A0018 0%, rgba(10, 0, 24, 0) 100%);
  border: 1px solid rgba(255, 184, 0, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 9px 34px rgba(255, 255, 255, 0.09);
          box-shadow: inset 0px 9px 34px rgba(255, 255, 255, 0.09);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  padding: 0 10px 20px 10px;
  margin-bottom: 20px;
}

.desk__table-wrapper table {
  border-collapse: collapse;
}

.desk__table-wrapper label {
  color: var(--yellow);
}

.desk__table-wrapper th {
  color: var(--yellow);
  font-size: 14px;
  font-style: normal;
  font-weight: 350;
  line-height: 19px;
  letter-spacing: 0em;
}

.desk__table-wrapper tr {
  background-color: transparent !important;
}

.desk__table-wrapper td {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.desk__table-wrapper td:first-child {
  color: var(--yellow);
}

.desk__table-wrapper tbody tr {
  border-bottom: 1px solid rgba(191, 177, 227, 0.3);
}

.desk__table-wrapper tbody tr td:nth-child(2) {
  position: relative;
}

.desk__table-wrapper tbody tr td:first-child {
  padding-left: 0;
}

.desk__table-wrapper thead tr th {
  border: none;
}

.desk__table-wrapper thead tr th:first-child {
  padding-left: 0;
}

.desk__table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: transparent;
  border-color: transparent;
}

.desk__table-wrapper .dataTables_wrapper .dataTables_paginate span .paginate_button {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0em;
  color: #fff !important;
}

.desk__table-wrapper .dataTables_wrapper .dataTables_paginate span .paginate_button:hover {
  background: #009ADC !important;
  border-color: #000 !important;
}

.desk__table-wrapper .dataTables_wrapper .dataTables_paginate span .paginate_button.current {
  color: #000 !important;
  background: #fff !important;
}

.desk__table-wrapper span .paginate_button {
  border-radius: 10px !important;
  width: 35px !important;
  height: 35px !important;
  padding: 5px !important;
  border: 1px solid #009ADC !important;
  margin-right: 5px;
}

.desk__table-wrapper span .paginate_button.current {
  border-color: #fff !important;
}

.desk__table-wrapper .paginate_button.disabled svg path {
  fill: white !important;
  fill-opacity: 0.3;
}

@media screen and (max-width: 768px) {
  .desk__wrapper {
    padding: 0;
  }
  .desk__title {
    padding: 30px 25px;
    margin-bottom: 0;
  }
  .desk__title p {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
  }
  .desk__selector {
    padding: 30px 25px;
    margin-bottom: 30px;
  }
  .desk__selector .selector__item p {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    padding-bottom: 9px;
  }
  .desk__selector::after {
    left: 25px;
    max-width: 90%;
  }
  .desk__table-wrapper {
    margin: 0 15px;
  }
  .desk__table-wrapper table {
    max-width: 100%;
  }
  .desk__table-wrapper td[name="launch"],
  .desk__table-wrapper th[name="launch"] {
    display: none;
  }
  .desk__table-wrapper td[name="votes"],
  .desk__table-wrapper th[name="votes"] {
    display: none;
  }
  .desk__table-wrapper td,
  .desk__table-wrapper th {
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
  }
  .desk__table-wrapper .table__voteBtn-wrapper,
  .desk__table-wrapper .table__votes-wrapper {
    border-radius: 5px;
    padding: 6px 10px;
  }
}

@media screen and (max-width: 567px) {
  td[name="mCap"],
  th[name="mCap"] {
    display: none;
  }
  td[name="price"],
  th[name="price"] {
    display: none;
  }
}

.scam__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 40px;
  margin-bottom: 20px;
}

.scam__header-description {
  width: calc(50% - 40px);
}

.scam__header-search {
  width: calc(50% - 40px);
}

.scam__title {
  margin-bottom: 20px;
}

.scam__title p {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.scam__subtitle {
  margin-bottom: 15px;
}

.scam__subtitle p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--yellow);
}

.scam__search {
  position: relative;
}

.scam__form-wrapper label {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.scam__fields-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 40px;
}

.scam__field {
  width: calc(50% - 40px);
}

.scam__chexbox {
  margin-bottom: 20px;
}

.scam__chexbox .checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.scam__chexbox .checkbox + label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.scam__chexbox label {
  position: relative;
}

.scam__chexbox .checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  margin-right: 0.5em;
}

.scam__chexbox .checkbox:checked + label::before {
  border-color: var(--yellow);
}

.scam__chexbox .checkbox:checked + label::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 8px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 8px;
  height: 8px;
  background: #FFB800;
  border-radius: 2px;
}

.scam__textarea {
  width: 100%;
  max-width: 100%;
}

.scam__textarea textarea {
  max-width: 100%;
  padding: 22px 37px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  outline: none;
  color: var(--yellow);
}

.scam__textarea textarea::-webkit-input-placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 350;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.scam__textarea textarea:-ms-input-placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 350;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.scam__textarea textarea::-ms-input-placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 350;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.scam__textarea textarea::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 350;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.scam__textarea textarea:focus {
  border: 1px solid var(--yellow);
}

.scam__agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.scam__agree-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.scam__captcha-wrapper {
  width: 251px;
  height: 80px;
  position: relative;
  background: #fff;
  border-radius: 10px;
}

.scam__submit {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  background: #FFB800;
  border-radius: 10px;
  padding: 28px 120px;
  position: relative;
  cursor: pointer;
}

.scam__submit:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.scam__submit p {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  color: #000;
}

.scam__submit p:after {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 5px;
  position: absolute;
  top: calc(50% - 1px);
  width: 36px;
  height: 8px;
  background: url("../assets/img/Arrow.png") no-repeat center top/contain;
}

.desk__text p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .scam__header-description, .scam__header-search {
    width: 100%;
    margin: 0 auto;
  }
  .scam .desk__title {
    margin-bottom: 20px;
    padding: 0;
  }
  .scam__container {
    padding: 16px;
  }
  .scam__field {
    width: 100%;
  }
  .scam__agree {
    gap: 10px;
  }
  .scam__agree-btns {
    gap: 10px;
  }
  .scam__submit {
    padding: 9px 35px;
  }
  .scam__submit p {
    font-size: 13px;
    line-height: 26.3px;
  }
  .scam__submit p:after {
    width: 15px;
    top: 50%;
    background: url("../assets/img/Arrow.png") no-repeat center top/contain;
  }
  .scam__captcha-wrapper {
    width: 139px;
    height: 44px;
  }
  .scam__textarea textarea {
    height: 180px;
  }
}

.about__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.about__logo-img {
  width: 74px;
  height: 74px;
}

.about__logo-img img {
  height: 100%;
  width: 100%;
}

.about__logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.about__logo-name p {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  color: #fff;
}

.about__logo-price p {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--green);
}

.about__socialBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.about__socialBtn {
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  height: 61px;
  max-width: 192px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  min-width: 125px;
  cursor: pointer;
}

.about__socialBtn:hover {
  background-color: var(--main-color);
}

.about__socialBtn svg :not(:nth-child(2)) {
  margin-top: 4px;
}

.about__socialBtn a {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.about__chart {
  margin-bottom: 30px;
}

.about .chart__wrapper {
  background: #ccc;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  height: 236px;
  width: 100%;
  position: relative;
}

.about__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}

.about__description-wrapper {
  width: 100%;
  max-width: 650px;
}

.about__description-image {
  width: 340px;
  margin: 0 auto;
}

.about__description-image img {
  width: 100%;
}

.about__description-title {
  margin-bottom: 20px;
}

.about__description-title p {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  color: var(--yellow);
}

.about__description-text p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #FFFFFFCC;
}

.about__description-text p:not(:last-child) {
  margin-bottom: 30px;
}

.about__tags {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding: 40px 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1px;
}

.about__tags:not(:last-child) {
  margin-bottom: 30px;
}

.about__tags-wrapper {
  width: 50%;
}

.about__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.about__tag svg {
  width: 15px;
}

.about__tag-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__tag:not(:last-child) {
  margin-bottom: 25px;
}

.about__tag p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .about__header {
    gap: 25px;
  }
  .about__container {
    padding: 0 16px;
  }
  .about__logo-wrapper {
    gap: 15px;
  }
  .about__logo-name p {
    font-size: 14px;
    line-height: 19px;
  }
  .about__logo-price p {
    font-size: 13px;
    line-height: 13.3px;
  }
  .about__logo-img {
    width: 39px;
    height: 39px;
  }
  .about__socialBtn {
    min-width: 90px;
    height: 57px;
  }
  .about__socialBtn a {
    font-size: 13px;
    line-height: 13px;
  }
  .about__description-image {
    width: 230px;
  }
  .about__description-title {
    margin-bottom: 15px;
  }
  .about__description-title p {
    font-size: 14px;
    line-height: 19px;
  }
  .about__description-text p {
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 15px !important;
  }
  .about__tags {
    padding: 20px 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__tags-wrapper {
    width: 100%;
  }
  .about__tags-wrapper:not(:last-child) .about__tag {
    margin-bottom: 15px !important;
  }
  .about__tag p {
    font-size: 13px;
    line-height: 13px;
  }
  .about__tag:not(:last-child) {
    margin-bottom: 15px !important;
  }
}

@media screen and (max-width: 420px) {
  .about__socialBtn {
    height: 37px;
  }
}

.token__info {
  margin-bottom: 30px;
}

.token__description {
  max-width: 780px;
}

.token__info-wrapper {
  padding-left: 109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.token__info-data-wrapper {
  width: 209px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.token__info-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.token__info-btns-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 15px;
}

.token__info-vote-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.token__info-vote-btn {
  min-width: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.token__info-vote-btn span {
  height: 43px;
  padding: 11px 12px;
  border: 1px solid #009ADC;
  background: #009ADC;
  border-radius: 5px;
}

.token__info-vote-btn:last-child span {
  border: 1px solid #009ADC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;
}

.token__info-vote-btn span,
.token__info-vote-btn p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.token__info-vote-btn p {
  font-weight: 350;
}

.token__info-contract-wrapper {
  background: #0A0018;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  height: 43px;
  padding: 8px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.token__info-contract-wrapper p {
  font-size: 13px;
  font-weight: 350;
  line-height: 13px;
  letter-spacing: 0em;
  color: #FFFFFF80;
}

.token__info-nav-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.token__info-nav-btn {
  height: 43px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0A0018;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

.token__info-nav-btn:hover {
  background-color: var(--main-color);
}

.data__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  color: var(--yellow);
}

.data__value {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #fff;
}

.copy__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.about__transactions {
  margin-bottom: 50px;
}

.about .transactions__wrapper {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  padding: 10px 50px;
}

.about .transactions__wrapper table {
  width: 100%;
  border-spacing: 0 15px;
  text-align: center;
}

.about .transactions__wrapper th {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.about .transactions__wrapper td p,
.about .transactions__wrapper td a {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: var(--yellow);
}

.about .transactions__wrapper tbody td {
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 991px) {
  .data__title {
    font-size: 13px;
    line-height: 13px;
  }
  .data__value {
    font-size: 13px;
    line-height: 13px;
  }
  .token__description p:last-child {
    margin-bottom: 0 !important;
  }
  .token__info-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  .token__info-data-wrapper {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-bottom: 20px;
  }
  .token__info-data {
    width: 45%;
  }
  .token__info-btns-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .token__info-vote-btns {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .token__info-vote-btn p {
    font-size: 12px;
    line-height: 13px;
  }
  .token__info-vote-btn span {
    height: 34px;
    padding: 6px 12px;
  }
  .token__info-nav-btn {
    height: 34px;
  }
  .token__contract-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .token__info-nav-btns {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .about__transactions {
    margin-bottom: 50px;
  }
  .about .transactions__wrapper {
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    padding: 10px 20px;
  }
  .about .transactions__wrapper table {
    width: 100%;
    border-spacing: 0 15px;
    text-align: center;
  }
  .about .transactions__wrapper th {
    font-size: 13px;
    line-height: 13px;
  }
  .about .transactions__wrapper td p,
  .about .transactions__wrapper td a {
    font-size: 12px;
    line-height: 13px;
  }
  .about .transactions__wrapper tbody td {
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
}

@media screen and (max-width: 420px) {
  .token__info-contract {
    width: 100%;
  }
  .token__info-wrapper {
    width: 100%;
  }
  .token__info-contract-wrapper p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.audit__cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  margin-bottom: 55px;
  padding-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.audit__card {
  width: 280px;
  height: 360px;
  padding: 32px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  background: #10041F;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
  color: #fff;
}

.audit__form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 55px;
}

.audit .scam__agree-btns {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card__title p {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.card__text p {
  font-size: 14px;
  font-weight: 350;
  line-height: 19px;
}

.input__wrapper {
  width: calc(50% - 12.5px);
}

.input__label {
  margin-bottom: 20px;
}

.input__label p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #fff;
}

.input__field input,
.input__field select {
  width: 100%;
  background: #0A0018;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 18px 20px;
  color: var(--yellow);
  outline: none;
}

.input__field input::-webkit-input-placeholder,
.input__field select::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 350;
  line-height: 19px;
  letter-spacing: 0em;
  color: #FFFFFF80;
}

.input__field input:-ms-input-placeholder,
.input__field select:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 350;
  line-height: 19px;
  letter-spacing: 0em;
  color: #FFFFFF80;
}

.input__field input::-ms-input-placeholder,
.input__field select::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 350;
  line-height: 19px;
  letter-spacing: 0em;
  color: #FFFFFF80;
}

.input__field input::placeholder,
.input__field select::placeholder {
  font-size: 14px;
  font-weight: 350;
  line-height: 19px;
  letter-spacing: 0em;
  color: #FFFFFF80;
}

.input__field input:focus,
.input__field select:focus {
  border: 1px solid var(--yellow);
}

@media screen and (max-width: 768px) {
  .audit__form-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    margin-bottom: 35px;
    padding: 0 10px;
  }
  .audit .scam__agree-btns {
    padding: 0 10px;
  }
}

@media screen and (max-width: 420px) {
  .audit__cards-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .audit__card {
    width: 228px;
    height: 290px;
    padding: 32px 26px;
  }
  .audit .card__text p {
    font-size: 13px;
    line-height: 17px;
  }
  .audit .card__title p {
    line-height: 16.7px;
    font-size: 15px;
  }
  .audit .card__image {
    width: 50px;
  }
  .audit .desk__title p {
    text-align: center;
    font-size: 18px;
  }
  .audit__form-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    margin-bottom: 35px;
  }
  .audit .input__wrapper {
    width: calc(100% - 25px);
  }
  .audit .scam__agree-btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .audit .input__label {
    margin-bottom: 10px;
  }
  .audit .input__label p {
    font-size: 14px;
  }
  .audit .input__field input {
    padding: 10px 12px;
    font-size: 14px;
  }
}

.promotion__inputs-wrapper {
  width: calc(50% - 12.5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promotion__inputs-wrapper p {
  white-space: nowrap;
}

.advertise .scam__agree-btns {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.advertise__form-wrapper {
  margin-bottom: 55px;
}

.advertise__title {
  margin-bottom: 55px;
}

.advertise__title p {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  color: #fff;
}

.advertise__placement-wrapper:not(:last-child) {
  min-width: 420px;
  position: relative;
  background: #ccc;
  height: 181px;
  border: 1px solid #ffffff80;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: calc(50% - 12.5px);
}

.advertise__placement-wrapper:not(:last-child) input {
  visibility: hidden;
}

.advertise__placement-wrapper:not(:last-child)._active {
  border-color: var(--yellow);
}

.advertise__placement-wrapper:not(:last-child) img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.advertise__placement-wrapper:last-child {
  width: calc(50% - 12.5px);
}

.advertise__placement-wrapper:last-child .promotion__inputs-wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.advertise__placement-wrapper:last-child .input__wrapper {
  width: calc(50% - 7.5px);
}

.advertise__placement-wrapper:last-child .scam__agree-btns {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}

.advertise__placement-wrapper:last-child .scam__captcha {
  width: calc(50% - 7.5px);
}

.advertise__placement-wrapper:last-child .scam__captcha-wrapper {
  width: 100%;
  height: 55px;
}

.advertise__placement-wrapper:last-child .scam__submit {
  width: calc(50% - 7.5px);
  height: 55px;
  text-align: center;
  padding: 15px 20px;
}

input[type="file"] {
  color: #ffffff80;
  text-align: right;
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  background: url("../assets/svg/upload.svg") no-repeat center left/contain;
  outline: none;
  border: none;
  color: transparent;
  width: 36px;
}

@media screen and (max-width: 1170px) {
  .promotion__inputs-wrapper {
    width: 100%;
  }
  .advertise .audit__form-container:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advertise__title {
    padding: 0 10px;
  }
  .advertise__placement-wrapper:last-child {
    width: 100%;
  }
  .advertise .scam__agree-btns {
    width: 49% !important;
  }
}

@media screen and (max-width: 768px) {
  .advertise .scam__agree-btns {
    width: 100% !important;
  }
  #advertiseToken .scam__agree-btns {
    padding: 0 10px;
  }
  .select-page {
    padding: 0 10px;
  }
}

@media screen and (max-width: 568px) {
  .advertise__title {
    margin-bottom: 25px;
  }
  .advertise__title p {
    font-size: 15px;
    line-height: 16px;
  }
  .input__label p {
    font-size: 13px;
    line-height: 13px;
  }
  .advertise__placement-wrapper:not(:last-child) {
    min-width: 320px;
    width: 100%;
  }
  .advertise .input__field input,
  .advertise .input__field select {
    padding: 8px 10px;
  }
}

@media screen and (max-width: 420px) {
  .advertise .audit__form-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
