.content {

   &__banners {
      margin-bottom: 30px;
   }
}

.banners {

   &__wrapper {
      display: flex;
      justify-content: center;
      gap: 30px;

      &:first-child {
         margin-bottom: 15px;

         .banner-wrapper {
            max-width: 1094px;
            width: 100%;
            height: 162px;
         }
      }
   }

   &__slider-wrapper {
      position: relative;
      height: 130px;
      width: 100%;
   }

   &__slider {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
   }
}

.banner-wrapper {
   max-width: 258px;
   height: 130px;
   background: #ccc;
   border: 1px solid #FFB800;
   box-sizing: border-box;
   border-radius: 20px;
   margin: 0 auto;

   img {
      width: 100%;
      height: 100%;
   }
}

.mobile__menu-banner {
   width: 133px;
   height: 105.4px;
   display: none;
}

@media screen and (max-width: 991px) {
   .mobile__menu-banner {
      display: block;

      &-wrapper {
         width: 100%;
         height: 100%;
      }
   }

   .content {

      &__banners {
         margin-bottom: 20px;
      }
   }

   .banners {

      &__wrapper {
         gap: 5px;

         &:first-child {
            margin-bottom: 10px;

            .banner-wrapper {
               height: 71px;
            }
         }
      }
   }

   .banner-wrapper {
      border-radius: 5px;
   }
}

@media screen and (max-width: 576px) {
   .banners__wrapper {
      justify-content: space-between;
   }
}