.blick {
   position: absolute;
   width: 999.97px;
   height: 665.62px;
   background: radial-gradient(50% 50% at 50% 50%, rgba(211, 247, 0, 0.0735) 0%, rgba(232, 255, 97, 0.0735) 100%);
   pointer-events: none;
   z-index: -1;
}

.top-left-blick {
   left: -109.19px;
   top: -335px;
   filter: blur(250px);
   transform: rotate(30deg);
}